site/
Old/
/*.md
docs/assets/*
!docs/assets/p002_01.png
!docs/assets/p009_06.png
!docs/assets/p010_08.png
!docs/assets/p011_09.png
!docs/assets/p013_11.png
!docs/assets/p016_12.png
!docs/assets/p017_13.png
!docs/assets/p021_16.png
!docs/assets/p023_17.png
!docs/assets/p023_18.png
!docs/assets/p026_19.png
!docs/assets/p026_20.png
!docs/assets/p030_21.png
!docs/assets/p031_22.png
!docs/assets/p031_23.png
!docs/assets/p033_24.png
!docs/assets/p034_25.png
!docs/assets/p035_26.png
!docs/assets/p036_27.png
!docs/assets/p037_28.png
!docs/assets/p039_29.png
!docs/assets/p040_30.png
!docs/assets/p041_31.png
!docs/assets/p042_32.png
!docs/assets/p043_33.png
!docs/assets/p044_34.png
!docs/assets/p045_35.png
